
.container {
    background: #fc5c7d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc5c7d, #6a82fb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc5c7d, #6a82fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.red {
    height: 200px;
    width: 100px;
    background-color: red;
}
#boton-pago {
    background-color: yellow;
}

td {
    border: 1px solid;
}
